
*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(59, 59, 231) 0%,rgb(77, 77, 241) 20%, white 80%, white 100%);
    background-size: cover;
    background-position: center;
    position: absolute;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}

a
{
    text-decoration: none;
    color: rgb(247, 241, 243);
    font-size: 36px;
}
#login-form
{
    display: none;
}
.form-box{
    width: 480px;
    height: 700px;
    background: white;
    color: #fff;
    margin:6% auto;
    position: relative;
    padding: 10px;
    overflow: hidden;
}
.button-box{
    width:420px;
    margin:50px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #156ef51f;
    border-radius: 30px;

}
.toggle-btn{
    padding: 10px 80px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: none;
    position: relative;
}
#btn{
    top:0 ;
    left:0;
    position: absolute;
    width: 200px;
    height: 100%;
    background: linear-gradient( to right, rgb(20, 20, 247), rgb(218, 209, 209));
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 50px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: calc(50% - 70px);
}
h1{
    position: relative;
    text-align: center;
    font-size: 30px;
    color: rgb(44, 28, 192);
    top: 20px;
    left: -50
}
h2{
    position: relative;
    text-align: center;
    font-size: 100px;
    color: rgb(44, 28, 192);
    top: 300px;
    left: -100
}

.input-group{
    top: 150px;
    position: absolute;
    width: 100%;
    transition: .5s ;
    margin-bottom: 60px;
}



.input-group p{
    margin: 50;
    padding: 0;
    font-weight: bold;
    color:rgb(66, 17, 243)
}


.form-box input{
    width: 100%;
    margin-bottom: 30px;
}
.form-box input[type="text"], input[type="password"]
{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.form-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 50px;
    background: rgb(107, 107, 231);
    color: #fff;
    font-size: 18px;
    border-radius:  20px;
}
.form-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;
}
.form-box a{
    text-decoration: none;
    font-size: 14px;
    line-height: 60px;
    color: black;
}
.form-box a:hover{
    color: #ffc107;
}
#login{
    left:50px;
}
#signup{
    left:800px;
}
.error-msg{
    margin: 10px 0;
    display: block;
    background: red;
    color: white;
    border-radius: 5px;
    font-size: 30;

}




